* {
    box-sizing: border-box
}

body {

    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
}

.myslides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-left: -150px;
    font-weight: 500px;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.main-dot {
    margin-right: 310px;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.FContainer {
    display: flex;
    width: 100%;
    align-items: center;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: 80px;
}



.wrapper3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    width: 100%;
    background-color: #e2e1e1;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgb(238, 238, 237);
    margin-left: 390px;
    margin-top: 348px;

}

.wrapper3 .input_field {
    margin-bottom: 20px;
}

.wrapper3 .input_field input[type="text"],
.wrapper3 textarea {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
}

select {
    width: 300px;
    height: 45px;
}

.wrapper3 .btn {
    border: 0px;
    margin-top: 15px;
    padding: 20px;
    text-align: center;
    width: 100%;
    background: #030303;
    color: #fdfdfd;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn2 {
    border: 0px;
    margin-top: 15px;
    margin-left: 500px;
    padding: 20px;
    text-align: center;
    width: 20%;
    background: #030303;
    color: #fdfdfd;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    cursor: pointer;
}

#error_message {
    margin-bottom: 20px;
    background: #e7030b;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
    font-weight: 700;
}

.slogan {
    color: grey;
}

.logo {

    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    color: black;


}

.no1 {
    margin-left: 150px;
    margin-top: -20px;
}

.isipoin1 {
    margin-left: 240px;
    margin-top: -70px;
    font-weight: 500;
}

.no2 {
    margin-left: 150px;
}

.isipoin2 {
    margin-left: 240px;
    margin-top: -70px;
    font-weight: 500;
}

.no3 {
    margin-left: 150px;
}

.isipoin3 {
    margin-left: 240px;
    margin-top: -80px;
    font-weight: 500;
}

.no4 {
    margin-left: 150px;
    margin-top: -10px;
}

.isipoin4 {
    margin-left: 240px;
    margin-top: -70px;
    font-weight: 500;
}

.navigation {

    display: flex;
    align-items: center;
    justify-content: center;

}

.navigation>li {

    list-style-type: none;
    padding: 10px;
}

.FContainer2 {

    text-align: center;
    width: 100%;
    height: 150px;
    align-items: center;
    background-color: rgb(228, 224, 224);
    padding: 30px;
}



.anjuran {
    margin-left: 200px;
    color: #bbb;


}

.contact {

    font-size: 20px;
}



.gambarakun {
    margin-left: 200px;
}

.namadepan {
    margin-left: 280px;
    margin-top: -50px;

}

.profesi {
    margin-left: 280px;
    color: rgb(194, 194, 194);

}

.perkenalan {
    margin-left: 150px;

}

.listkelebihan {
    margin-left: 170px;


}


h1,
h3 {

    text-align: center;
}


.logosayursegar {

    border-radius: 100%;
    margin-left: 150px;
}

.judulkalimat1 {
    margin-left: 240px;
    margin-top: -89px;
    font-size: 20px;
}

.kalimat1 {
    margin-left: 240px;
    margin-top: -20px;
}

.logobuahsegar {

    margin-left: 499px;
    margin-top: -109px;
}

.kalimat2 {
    margin-left: 599px;
    margin-top: -20px;
}

.judulkalimat2 {
    margin-left: 599px;
    margin-top: -110px;
    font-size: 20px;
}

.pengiriman {
    margin-left: 880px;
    margin-top: -144px
}

.judulkalimat3 {
    margin-left: 1040px;
    margin-top: -144px;
    font-size: 20px;

}

.kalimat3 {

    margin-left: 1040px;
    margin-top: -22px;
}

.bumbudapur {
    margin-left: 130px;
}

.judulkalimat4 {
    margin-left: 240px;
    margin-top: -105px;
    font-size: 20px;
}

.kalimat4 {
    margin-left: 240px;
    margin-top: -22px;
}

.alatmasak {
    margin-left: 499px;
    margin-top: -114px;
}

.judulkalimat5 {
    margin-left: 599px;
    margin-top: -105px;
    font-size: 20px;
}

.kalimat5 {
    margin-left: 599px;
    margin-top: -22px;
}

.paketsayur {
    margin-left: 960px;
    margin-top: -99px;
}

.judulkalimat6 {
    margin-left: 1040px;
    margin-top: -90px;
    font-size: 20px;
}

.kalimat6 {
    margin-left: 1040px;
    margin-top: -22px;
}

/* Responsive Desaign tablet */

@media screen and (max-width : 768px) {
    .logo {
        font-size: 18px;
    }

    .FContainer {
        max-width: 800px;
    }

    .navigation {
        font-size: 18px;
    }

    .JudulUtama {
        font-size: 20px;
    }

    .slideshow-container {

        max-width: 600px;
        margin-left: 20px;
        margin-top: -30px;
    }

    .main-dot {

        max-width: 90px;
        margin-left: 170px;
    }

    .text {
        max-width: 300px;
        margin-left: 50px;
    }

    .anjuran {
        font-size: small;
        margin-left: 40px;
    }

    .gambarakun {
        width: 20px;
        margin-left: 40px;
    }

    .namadepan {
        margin-left: 120px;
    }

    .profesi {
        margin-left: 120px;
    }

    .perkenalan {
        font-size: 14px;
        margin-left: 30px;
    }

    .no1 {
        width: 900px;
        margin-left: 30px;
        margin-bottom: 25px;
    }

    .isipoin1 {
        font-size: 14px;
        margin-left: 120px;

    }

    .no2 {
        width: 900px;
        margin-left: 30px;
        margin-bottom: 25px;
    }

    .isipoin2 {
        font-size: 14px;
        margin-left: 120px;
    }

    .no3 {
        width: 900px;
        margin-left: 30px;
        margin-bottom: 25px;
    }


    .isipoin3 {
        font-size: 14px;
        margin-left: 120px;
    }

    .no4 {
        width: 900px;
        margin-left: 30px;
        margin-bottom: 25px;
    }

    .isipoin4 {
        font-size: 14px;
        margin-left: 120px;
    }

    .FContainer2 {
        width: 710px;
        height: 124px;
        font-size: 13px;
    }

    .logosayursegar {
        max-width: min-content;
        margin-left: 10px;
        margin-bottom: 2px;
    }

    .judulkalimat1 {
        font-size: 18px;
        margin-left: 100px;
    }

    .kalimat1 {
        font-size: 15px;
        margin-left: 100px;
    }

    .logobuahsegar {
        margin-left: 370px;
        max-width: min-content;
    }

    .judulkalimat2 {
        margin-left: 470px;
        font-size: 18px;

    }

    .kalimat2 {
        margin-left: 470px;
        font-size: 15px;
    }

    .pengiriman {
        margin-left: 330px;
        margin-top: 40px;
    }

    .judulkalimat3 {
        margin-left: 480px;
        font-size: 18px;
    }

    .kalimat3 {
        margin-left: 480px;
        font-size: 15px;
    }

    .bumbudapur {
        margin-top: -145px;
        margin-left: -10px;

    }

    .judulkalimat4 {
        margin-left: 100px;
        font-size: 18px;
    }

    .kalimat4 {
        margin-left: 100px;
        font-size: 15px;
    }

    .alatmasak {
        margin-top: 100px;
        margin-left: -10px;
        font-size: 18px;
    }

    .judulkalimat5 {
        margin-left: 100px;
        font-size: 18px;
    }

    .kalimat5 {
        margin-left: 100px;
        font-size: 15px;
    }

    .paketsayur {
        margin-left: 410px;
        margin-bottom: -200px;
    }

    .judulkalimat6 {
        margin-left: 480px;
        margin-top: 136px;
        font-size: 18px;
    }

    .kalimat6 {
        margin-left: 480px;
        font-size: 15px;
    }

    .kalimatpenutup {
        font-size: 15px;
    }

    .btn2 {
        max-width: 180px;
        height: 70px;
        margin-left: 300px;

    }

    .wrapper3 {
        max-width: 250px;
        margin-left: 230px;
        max-height: 650px;

    }

    .input_field {
        max-width: 200px;
    }

    .calus {
        font-size: 20px;
        margin-top: -10px;
    }

    .sales {
        font-size: 14px;
        margin-bottom: 20px;
    }

    label {
        margin-top: -10px;
    }

    .select {
        width: 200px;
    }

    .btn {
        max-width: 90px;
        margin-left: 50px;

    }
}

/* Responsive design HP */


@media screen and (max-width : 576px) {
    .logo {
        font-size: 20px;
    }

    .FContainer {
        max-width: 800px;
    }

    .navigation {
        font-size: 17px;

    }

    .JudulUtama {
        font-size: 15px;
    }

    .slideshow-container {


        margin-left: -15px;
        margin-top: -30px;
    }

    .main-dot {

        width: 100px;
        margin-left: 110px;
    }

    .dot {

        width: 10px;
        height: 10px;
    }

    .text {
        max-width: 180px;
        margin-left: 80px;
    }

    .anjuran {
        font-size: small;
        margin-left: 40px;
    }

    .gambarakun {
        width: 20px;
        margin-left: 40px;
    }

    .namadepan {
        margin-left: 120px;
    }

    .profesi {
        margin-left: 120px;
    }

    .perkenalan {
        font-size: 12px;
        margin-left: 30px;
    }

    .no1 {
        width: 800px;
        margin-left: 30px;
        margin-bottom: 25px;
    }

    .isipoin1 {
        font-size: 12px;
        margin-left: 100px;

    }

    .no2 {
        width: 800px;
        margin-left: 30px;
        margin-bottom: 25px;
    }

    .isipoin2 {
        font-size: 12px;
        margin-left: 100px;
    }

    .no3 {
        width: 800px;
        margin-left: 30px;
        margin-bottom: 25px;
    }


    .isipoin3 {
        font-size: 12px;
        margin-left: 100px;
    }

    .no4 {
        width: 800px;
        margin-left: 30px;
        margin-bottom: 25px;
    }

    .isipoin4 {
        font-size: 12px;
        margin-left: 100px;
    }

    .FContainer2 {
        width: 580px;
        height: 115px;
        font-size: 10px;
    }

    .logosayursegar {
        max-width: min-content;
        margin-left: 10px;
        margin-bottom: 2px;
    }

    .judulkalimat1 {
        font-size: 15px;
        margin-left: 100px;
    }

    .kalimat1 {
        font-size: 12px;
        margin-left: 100px;
    }

    .logobuahsegar {
        margin-left: -5px;
        max-width: min-content;
        margin-top: 9px;
    }

    .judulkalimat2 {
        margin-left: 97px;
        margin-bottom: 10px;
        font-size: 15px;

    }

    .kalimat2 {
        margin-left: 97px;
        font-size: 12px;
    }

    .pengiriman {
        margin-left: -50px;
        margin-top: 20px;
    }

    .judulkalimat3 {
        margin-left: 97px;
        font-size: 15px;
    }

    .kalimat3 {
        margin-left: 97px;
        font-size: 12px;
    }

    .bumbudapur {
        margin-top: 30px;
        margin-left: -10px;

    }

    .judulkalimat4 {
        margin-left: 100px;
        font-size: 15px;
    }

    .kalimat4 {
        margin-left: 100px;
        font-size: 12px;
    }

    .alatmasak {
        margin-top: 50px;
        margin-left: -10px;
        font-size: 18px;
    }

    .judulkalimat5 {
        margin-left: 100px;
        font-size: 15px;
    }

    .kalimat5 {
        margin-left: 100px;
        font-size: 12px;
    }

    .paketsayur {
        margin-left: 20px;
        margin-top: 50px;
    }

    .judulkalimat6 {
        margin-left: 97px;
        margin-top: 136px;
        font-size: 15px;
    }

    .kalimat6 {
        margin-left: 97px;
        font-size: 12px;
    }

    .kalimatpenutup {
        font-size: 10px;
    }

    .btn2 {
        width: 120px;
        height: 80px;
        margin-left: 200px;
        font-size: small;

    }

    .wrapper3 {
        max-width: 170px;
        margin-left: 180px;
        max-height: 650px;
        margin-top: 290px;

    }

    .input_field {
        max-width: 100px;
        max-height: 10px;
    }

    .calus {
        font-size: 14px;
        margin-top: -10px;
    }

    .sales {
        font-size: 12px;
        margin-bottom: 20px;
    }

    label {
        margin-top: -10px;
    }

    .select {
        width: 100px;
    }

    .btn {
        max-width: 80px;

        margin-top: 50px;
        margin-left: 30px;

    }
}